body
{
    padding: 0;
    margin: 0;
    background: url("../resources/main/1.jpg");
    color: #FFFFFF;
    font-size: 14pt;
    font-family: verdana;
    text-align: center;
}

table
{
    margin: auto;
    border-collapse: collapse;
    border: 2px solid #3F9DD6;
}

tr, td
{
    border: 1px solid #3F9DD6;
    text-align: center;
}

.special_messages
{
    margin: 1% 0 1% 0;
}

#main_part_of_our_site
{
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}